PORT=3000
SERVICE_NAME=customer-service
NODE_ENV=development

MONGODB_URL=mongodb://mongo-customer:27017
DATABASE_NAME=customer_service_db
USER_SERVICE_URL=http://user-service:3001
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
