PORT=3000
SERVICE_NAME=admin-service
NODE_ENV=development

MONGODB_URL=mongodb://mongo-admin:27017
DATABASE_NAME=admin_service_db
USER_SERVICE_URL=http://user-service:3001
ORDER_SERVICE_URL=http://order-service:3003
PACKAGE_SERVICE_URL=http://package-service:3002
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
