PORT=3000
SERVICE_NAME=user-service
NODE_ENV=development

# Database
MONGODB_URL=mongodb://mongo-user:27017
DATABASE_NAME=user_service_db

# JWT
JWT_SECRET=dev-jwt-secret-change-in-production
JWT_EXPIRES_IN=7d

# RabbitMQ
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
