PORT=3000
SERVICE_NAME=order-service
NODE_ENV=development

MONGODB_URL=mongodb://mongo-order:27017
DATABASE_NAME=order_service_db
PACKAGE_SERVICE_URL=http://package-service:3002
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
